body, header, nav, main, h1, div, img, ul, p,
section, article{
    margin: 0;
    padding: 0;
    border: 0;
}


body{
    background-color: #0cb4d1;
}


header {
    background-color: #bce7f1;
    font-size: 20px;
}

nav {
    background-color: skyblue;
    padding: 60px;
}

#name h1{
    float: left;
    display: flex;
    background-color: #18222c;
    color: whitesmoke;
    padding: 20px;
    margin: 10px;
}

nav ul{
    float: right;
    margin: -10px;
}

nav li {
    display: inline-block;
    margin: 0 10px;
    font-size: 30px;
    font-weight: bold;
}

nav li a {
    list-style-type: none;   
    color: #18222c;
}

#pHeader{
    position: relative;
}

#pHeader img {
    width: 100%;
    max-height: auto;
}

#pHeader figcaption {
    position: absolute;
    right: 0;
    bottom: 50px;
    background-color: #18222c;
    color: burlywood;
    padding: 40px;
    font-size: 40px;
    margin: 20px;
}


#aboutMe, #work, #contactMe, #resume, h3 {
    font-size: 70px;
    font-weight: bold;
    border-right: 5px solid black;
    
    color: black;
    margin-right: 10px;
    margin-left: 20px;
    padding-right: 10px;
}

#aboutMe, #work, #contactMe, #resume, p{
    font-size: 25px;
    margin: 10px;
    width: 1700px;
    border-style: none;
    
}

#aboutMe, #work, #contactMe, #resume, p, h3{
    display: inline-block;

}

#work img{
    width: 80%;

}




